snippet	cp "Create page"
import React from 'react'
import Page from 'components/Page'

const $1 = ()=> {
	return <Page title="$2">$3</Page>
}

export default $1
endsnippet

snippet	crf "Create react function component"
import React from 'react'

const $1 = ()=> {
	return $2
}

export default $1
endsnippet
